body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 66px;
  background-color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body>#root>div {
  height: 100vh;
  width: 100vw;
}

canvas {
  width: 100%;
  height: 100%;
}

#canvcont {
  width: 1000px;
  height: 800px;
  position: relative;
}

#cdiv, #navi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#navi {
  z-index: 10;
}

#root {
  width: 100vw;
}

.color-nav {
  background-color: rgb(141, 171, 255);
}

.top-buffer {
  margin-top: 20px;
}

.btn-small {
  padding: 0.2rem 0.2rem;
  font-size: 12px;
}